@font-face {
  font-family: Elianto;
  src: url("../fonts/Elianto/EliantoRegular.otf") format("otf"),
  url("../fonts/Elianto/EliantoRegular.ttf") format("ttf");
  font-weight: normal;
}

@font-face {
  font-family: Elianto-regular;
  src: url("../fonts/Elianto/Elianto.otf") format("otf"),
  url("../fonts/Elianto/Elianto.ttf") format("ttf");
}

@font-face {
  font-family: Aquire;
  src: url("../fonts/Aquire/Aquire-BW0ox.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Aquire;
  src: url("../fonts/Aquire/AquireBold-8Ma60.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Aquire;
  src: url("../fonts/Aquire/AquireLight-YzE0o.otf") format("otf");
  font-weight: 300;
  font-style: normal;
}