@import "src/assets/style/variables";
@import "src/assets/style/mixin";


.L-light-wrapper, .L-light-active-wrapper {
  background-color: lightgrey;
  padding: 10px 0;
  font-family: monospace;
  color: $black;
  min-height: 100vh;
  transition: background-color 0.5s;

  .L-light-navbar {
    .L-light-navbar-child {
      .L-light-header-title {
        a {
          color: $white;
        }
      }

      @include screen-max-width-767 {
        width: 100%;
        margin: 10px 0;
      }

      .L-light-header-img {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 20px;

        &:first-child {
          width: 25px;
          height: 20px;
        }

        &:last-child {
          width: 125px;
          height: 30px;
        }
      }

      .L-light-header-list {
        @include screen-max-width-576 {
          width: 100%;
        }

        .L-light-link {
          margin: 0 15px;
          cursor: pointer;
          font-size: 16px;
          @include screen-max-width-767 {
            margin-left: 0;
            margin-right: 20px;
          }
          @include screen-max-width-576 {
            margin-top: 10px;
          }


          &:hover {
            color: #F5D717;
          }
        }
      }

      .L-light-btn {
        background-color: #efefef;
        height: 25px;
        width: 60px;
        border-radius: 20px;
        border: 0;
        outline: 0;
        cursor: pointer;
        transition: background-color 0.5s, color 0.5s;
        @include screen-max-width-576 {
          margin: 20px 0;
        }

        span {
          display: block;
          background-color: #999;
          width: 21px;
          height: 21px;
          border-radius: 50%;
          margin-left: 2px;
          transition: background-color 0.5s, margin-left 0.5s;
        }
      }

      .L-light-active-btn {
        background-color: green;

        span {
          background-color: $white;
          margin-left: 31px;
        }
      }
    }
  }

  .L-lamp-container {
    position: absolute;
    top: -20px;
    left: 22%;
    width: 200px;

    .L-lamp-img {
      width: 100%;

    }

    .L-light-absolute {
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      height: 420px;

    }

    .L-light-img {
      position: absolute;
      top: 95%;
      left: 50%;
      transform: translateX(-51%);
      width: 700px;
      opacity: 0;
      transition: opacity 0.5s;
      @include screen-max-width-576 {
        width: 400px;
        top: 75%;
      }
    }

    .L-on-light {
      opacity: 1;
    }

  }

  .L-lamp-text-container {
    width: 50%;
    margin-left: 50%;
    margin-top: 7%;
    @include screen-max-width-991 {
      width: 100%;
      margin-left: 0;

    }

    h2 {
      font-size: 60px;
      font-weight: 400;
    }

    p {
      font-size: 28px;
      line-height: 40px;
      font-weight: lighter;
    }

    button {
      margin: 30px 0;
      padding: 10px 20px;
      background-color: #00986f;
      color: $white;
      border-radius: 20px;

      &:hover {
        background-color: $white;
        color: #00986f;
        transition: $transition;
      }

      @include screen-max-width-991 {
        margin-top: 150px;
      }
    }

    .L-lamp-control {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 80px;
      @include screen-max-width-991 {
        justify-content: flex-start;
      }
    }

    .L-lamp-line {
      width: 250px;
      height: 4px;
      background: $white;
      margin: 0 20px;
      border-radius: 2px;

      span {
        width: 50%;
        height: 8px;
        margin-top: -2px;
        border-radius: 4px;
        background: #00986f;
        display: block;
      }
    }
  }

  .L-paragraph-text {
    margin-top: 300px;
    line-height: 25px;
    @include screen-max-width-991 {
      margin-top: 50px;
    }
  }
}

.L-light-active-wrapper {
  background-color: $grey-base;
  color: $white;
}